<div class="container p-2" style="width: 850px">
    <table class="table table-bordered table-sm table-secondary ">
        <thead class="thead-dark">
            <tr>
                <th class="text-center font-italic Italica">Codigo Ruta</th>
                <th class="text-center font-italic Italica">Nombre</th>
                <th class="text-center font-italic Italica">Horario Operación</th>
                <th class="text-center font-italic Italica">Estaciones</th>
                <th class="text-center font-italic Italica">Opción...</th>
            </tr>
        </thead>
        <tr *ngFor="let ruta of rutas">
            <td class="text-center">{{ruta.codRuta}}</td>
            <td class="text-center">{{ruta.nombre}}</td>
            <td class="text-center">{{ruta.inicioOperacion}} - {{ruta.finOperacion}}</td>
            <td>
                <button type="button" data-toggle="modal" data-target="#exampleModal"
                    (click)="imprimirEstaciones(ruta.codRuta)" class="btn btn-sm btn-outline-dark btn-block"
                    type="submit">Ver Estaciones</button>
            </td>
            <td>
                <div class="row">
                    <div class="col">
                        <button type="button" (click)="pregunta(ruta.codRuta)"
                            class="btn btn-sm btn-outline-danger btn-block" type="submit">Eliminar</button>
                    </div>
                    <div class="col">
                        <button type="button" data-toggle="modal" data-target="#modal2" (click)="setRuta(ruta)"
                            class="btn btn-sm btn-outline-primary btn-block" type="submit">Actualizar</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger font-italic Italica" id="exampleModalLabel">ESTACIONES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" style="width: 28rem;">
                    <div class="card-body" *ngFor="let estacion of estaciones">
                        <h5 class="card-title">{{estacion.codEstacion}}. {{estacion.nombre}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{estacion.estado}}</h6>
                        <p class="card-text">{{estacion.horaApertura}} - {{estacion.horaCierre}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-italic Italica text-danger" id="exampleModalLabel">Actualizar Ruta {{rutaRecibida.nombre}}</h5>
                <button type="button" (click)="reload()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">


                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre"
                            [(ngModel)]="rutaRecibida.nombre" placeholder="Nombre" required>
                            <small id="emailHelp" class="form-text text-muted">Nuevo nombre para la Ruta {{rutaRecibida.nombre}}.</small>
                            <p></p>
                            <label for="exampleInputEmail1">Inicio Operación</label>
                        <input type="text" class="form-control" name="inicioOperacion" id="inicioOperacion"
                            [(ngModel)]="rutaRecibida.inicioOperacion"
                            placeholder="Hora de Inicio de Operación (HH:mm:ss)" required>
                            <small id="emailHelp" class="form-text text-muted">Nueva hora de inicio de operación para la Ruta {{rutaRecibida.nombre}}.</small>
                            <p></p>
                            <label for="exampleInputEmail1">Fin Operación</label>
                        <input type="text" class="form-control" name="finOperacion" id="finOperacion"
                            [(ngModel)]="rutaRecibida.finOperacion" placeholder="Hora de Fin de Operación (HH:mm:ss)"
                            required>
                            <small id="emailHelp" class="form-text text-muted">Nueva hora de fin de operación para la Ruta {{rutaRecibida.nombre}}.</small>

                    </div>
                    <button type="submit" (click)="pregunta2()" class="btn btn-danger">Actualizar</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>