<div class="container w-50 p-2">
  <div class="row">
    <div class="container" id="formContainer">

      <form class="form-signin" id="login" role="form">
        <h3 class="form-signin-heading font-italic Italica text-danger">Agregar Ruta</h3>
        <a href="#" id="flipToRecover" class="flipLink">
          <div id="triangle-topright"></div>
        </a>
        <input type="input-group-text" class="form-control" name="codRuta" id="codRuta" [(ngModel)]="ruta.setCodRuta"
          placeholder="Codigo Ruta" required>
        <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="ruta.setNombre"
          placeholder="Nombre" required>
        <input type="text" class="form-control" name="inicioOperacion" id="inicioOperacion"
          [(ngModel)]="ruta.setInicioOperacion" placeholder="Hora de Inicio de Operación (HH:mm:ss)" required>
        <input type="text" class="form-control" name="finOperacion" id="finOperacion" [(ngModel)]="ruta.setFinOperacion"
          placeholder="Hora de Fin de Operación (HH:mm:ss)" required>
        <p></p>
        <button type="button" (click)="send()" class="btn btn-lg btn-outline-danger btn-block"
          type="submit">Agregar</button>
      </form>

    </div> <!-- /container -->
  </div>
</div>